[user]
  name = parksb
  email = parkgds@gmail.com
  signingkey = ~/.ssh/id_ed25519.pub
[core]
  excludesfile = ~/.gitignore
  pager = delta
  autocrlf = input
  editor = nvim
  ignorecase = false
  fsmonitor = true
  untrackedcache = true
[help]
  autocorrect = prompt
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  features = dracula
[merge]
  conflictstyle = zdiff3
  tool = nvim
[rebase]
  autostash = true
[mergetool]
  keepBackup = false
[mergetool "nvim"]
  cmd = nvim -d $LOCAL $MERGED $REMOTE -c 'wincmd w' -c 'wincmd J'
[rerere]
  enabled = true
  autoupdate = true
[diff]
  colorMoved = default
  algorithm = histogram
[commit]
  template = ~/.stCommitMsg
  gpgSign = true
  verbose = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[push]
  default = simple
  autoSetupMerge = true
  followTags = true
[pull]
  ff = only
  rebase = true
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[column]
  ui = auto
[init]
  defaultBranch = main
[gpg]
  format = ssh
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[alias]
  log-short = "log --pretty=format:'%h %s'"
  current-branch = "branch --show-current"
  fzf-log = "!git log-short | fzf $FZF_INLINE_OPTS --preview 'git show --pretty=short {1} | delta' | awk '{print $1}'"
  fzf-log-origin = "!git log-short origin/$(git current-branch) | fzf $FZF_INLINE_OPTS --preview 'git show --pretty=short {1} | delta' | awk '{print $1}'"
  alias = "!# Show all aliases;\n\
    git config --list \
    | egrep '^alias.+' \
    | sed -e 's/^alias\\.//' \
    | sed -e 's/^[^=]*=/\\'$'\\033[31m&\\033[(B\\033[m/' \
    | column -t -s'=' \
    | sed 's/!#* *//; s/;$//' \
    | cut -c1-85"
  s = "!# git status -s;\n\
       git status -s"
  su = "!# git status -s | rg ^U.+;\n\
       git status -s | rg ^U.+"
  l = "!# git log --oneline --graph --decorate --color;\n\
       git log --oneline --graph --decorate --color"
  la = "!# git log --all --oneline --graph --decorate --color;\n\
       git log --all --oneline --graph --decorate --color"
  lr = "!# git log --reflog --graph --oneline --decorate --color;\n\
       git log --reflog --graph --oneline --decorate --color"
  ch = "!# git checkout;\n\
        git branch -r | sed 's/origin\\///' | fzf $FZF_INLINE_OPTS --preview 'git l origin/{1} | head -n 1000' | xargs -I {} git switch {} || git checkout -t origin/{}"
  sw = "!# git switch;\n\
        git branch | egrep -v '^\\*' | fzf $FZF_INLINE_OPTS --preview 'git l {1} | head -n 1000' | xargs git switch"
  re = "!# git reset;\n\
        git fzf-log-origin | xargs git reset"
  a = "!# git add;\n\
       git status -s | fzf -m --preview 'git diff {2} | delta' | awk '{print $2}' | xargs git add;"
  aa = "!# git add --all;\n\
        git add --all"
  cm = "!# git commit -m, git cm {message};\n\
       git commit -m"
  cu = "!# git reset HEAD~, Undo last commit;\n\
        git reset HEAD~"
  b = "!# git branch;\n\
      git branch"
  ba = "!# git branch -a, Show all branches;\n\
       git branch -a"
  bx = "!# git branch -D, git bd {branch}, Delete a branch;\n\
       git branch -D"
  bn = "!# git switch -c, git bn {branch}, Create a new branch and switch;\n\
       git switch -c"
  brn = "!# git branch -m, git brn {branch}, Rename the branch;\n\
        git branch -m"
  st = "!# git stash save -k, git sts {stash}, Save a named stash;\n\
        git stash save -k"
  stp = "!# git stash pop, Pop the stash;\n\
        git stash list  --format='%gd %h %s' | fzf $FZF_INLINE_OPTS --preview 'git stash show -p {1} | head -n 1000 | delta' | awk '{print $1}' | xargs git stash pop"
  stx = "!# git stash drop, Drop the stash;\n\
        git stash list  --format='%gd %h %s' | fzf $FZF_INLINE_OPTS --preview 'git stash show -p {1} | head -n 1000 | delta' | awk '{print $1}' | xargs git stash drop"
  plr = "!# git pull --rebase origin {branch};\n\
        git current-branch | xargs git pull --rebase origin"
  pso = "!# git push origin {branch}, Push to current branch of the origin repo;\n\
        git current-branch | xargs git push origin"
  u = "!# git restore --staged, Unstage the staged files\n\
      git diff --staged --name-status | fzf $FZF_INLINE_OPTS -m | awk '{print $2}' | xargs git restore --staged"
  xn = "!# git clean -f --, Discard the changes of the untracked files;\n\
      git status -s | awk '$1 == \"??\" {print $2}' | fzf $FZF_INLINE_OPTS -m | xargs git clean -f --"
  xna = "!# git clean -fd, Discard all untracked changes;\n\
       git clean -fd --dry-run; read -p \"All untracked changes will be lost. Are you sure? [y/N] \" -r; echo; if [[ $REPLY =~ ^[Yy]$ ]]; then git clean -fd; fi"
  x = "!# git restore, Discard the changes of the tracked files;\n\
       git status -s -uno | awk '{print $2}' | fzf $FZF_INLINE_OPTS -m | xargs git restore"
  xa = "!# git reset --hard, Discard the all tracked changes;\n\
        read -p \"All tracked changes will be lost. Are you sure? [y/N] \" -r; echo; if [[ $REPLY =~ ^[Yy]$ ]]; then git reset --hard; fi"
  r = "!# git rebase;\n\
      git rebase"
  ri = "!# git rebase -i;\n\
       git fzf-log | xargs -I {} git rebase -i {}^"
  ron = "!# git rebase --onto;\n\
      git rebase --onto"
  rc = "!# git rebase --continue;\n\
       git rebase --continue"
  ra = "!# git rebase --abort;\n\
       git rebase --abort"
  rs = "!# git rebase --skip;\n\
        git rebase --skip"
  ui = "!ungit"
  rv = "!# git revert;\n\
       git fzf-log | xargs git revert"
  cp = "!# git cherry-pick;\n\
        git cherry-pick"
  fo = "!# git fetch origin;\n\
        git fetch origin"
  dfo = "!# git diff origin;\n\
        git diff origin"
  ignore = "!# generate .gitignore file;\n\
           curl -sL https://www.toptal.com/developers/gitignore/api/$@"
[include]
  path = ~/.delta-themes.gitconfig
[include]
  path = ~/.local.gitconfig
